name: MLflow CI Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install MLflow
      run: |
        pip install mlflow dagshub

    - name: Set MLflow Tracking (DagsHub)
      env:
        DAGSHUB_USER_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
      run: |
        echo "MLFLOW_TRACKING_URI=https://dagshub.com/RhezaPriyaAnargya/telco-churn-mlflow.mlflow" >> $GITHUB_ENV
        echo "MLFLOW_TRACKING_USERNAME=RhezaPriyaAnargya" >> $GITHUB_ENV
        echo "MLFLOW_TRACKING_PASSWORD=${{ secrets.DAGSHUB_TOKEN }}" >> $GITHUB_ENV

    - name: Run MLflow Project (Training)
      run: |
        mlflow run MLProject

    - name: Build Docker Image with MLflow
      run: |
        mlflow models build-docker \
          -m "runs:/$(mlflow runs list --max-results 1 | awk 'NR==2{print $1}')/model" \
          -n rhezapa/telco-churn-serving

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push Docker Image
      run: |
        docker push rhezapa/telco-churn-serving
