name: MLflow CI Pipeline

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train-and-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install mlflow dagshub scikit-learn pandas matplotlib

    - name: Set MLflow Tracking (DagsHub)
      run: |
        echo "MLFLOW_TRACKING_URI=https://dagshub.com/RhezaPriyaAnargya/telco-churn-mlflow.mlflow" >> $GITHUB_ENV
        echo "MLFLOW_TRACKING_USERNAME=RhezaPriyaAnargya" >> $GITHUB_ENV
        echo "MLFLOW_TRACKING_PASSWORD=${{ secrets.DAGSHUB_TOKEN }}" >> $GITHUB_ENV

    - name: Run MLflow Project (Training)
      run: |
        cd MLProject
        mlflow run . --env-manager=local

    - name: Read run_id from training
      run: |
        echo "RUN_ID=$(cat MLProject/run_id.txt)" >> $GITHUB_ENV
        echo "Using RUN_ID=$RUN_ID"

    - name: Build Docker Image with MLflow
      run: |
        cd MLProject
        mlflow models build-docker \
          -m output/model \
          -n rhezapa/telco-churn-serving

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push Docker Image
      run: |
        docker push rhezapa/telco-churn-serving
